<div class="container">
    <header>
        <nav>
            <img class="logo" src="assets/google-store.png" alt="">
        </nav>
    </header>

    <section class="row">
        <div class="column-8">
            <h1 class="title">WhatsApp Messanger</h1>
            <div class="description">
                WhatsApp LLC
            </div>
            <div class="reviews">
                <div class="layout-flex">
                    <div class="grid-container">
                        <div class="grid-item">
                            <div class="ClM7O">
                                <div itemprop="starRating">
                                    <div class="TT9eCd" aria-label="Rated 4.2 stars out of five stars">4.2
                                        <mat-icon>star_rate</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="g1rdde">182M reviews</div>
                        </div>
                        <div class="grid-item">
                            <div class="ClM7O">5B+</div>
                            <div class="g1rdde">Downloads</div>
                        </div>
                        <div class="grid-item">
                            <div class="ClM7O"><img
                                    src="https://play-lh.googleusercontent.com/IciOnDFecb5Xt50Q2jlcNC0LPI7LEGxNojroo-s3AozcyS-vDCwtq4fn7u3wZmRna8OewG9PBrWC-i7i=w48-h16-rw"
                                    srcset="https://play-lh.googleusercontent.com/IciOnDFecb5Xt50Q2jlcNC0LPI7LEGxNojroo-s3AozcyS-vDCwtq4fn7u3wZmRna8OewG9PBrWC-i7i=w96-h32-rw 2x"
                                    class="T75of xGa6dd" alt="Content rating" itemprop="image"
                                    data-iml="1140476.4000000004"></div>
                            <div class="g1rdde"><span itemprop="contentRating"><span>Everyone</span></span>
                                <div jsaction="click:CnOdef" class="MKV5ee" role="button" tabindex="0"
                                    jscontroller="kJXwXb" aria-label="More info about this content rating">
                                    <mat-icon>info_outline</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-3">
            <img class="app-logo" src="assets/whatsapp-logo.png" alt="">
        </div>

    </section>


</div>