header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 150px;
    height: 30px;
}


.app-logo {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 48px;
}

.app-logo-mobile {
    width: 80px;
    height: 80px;
    margin-right: 25px;
}

@media only screen and (max-width: 850px) {
    .app-logo {
        display: none;
    }

    .actions button {
        width: 100%;
    }

    .actions {
        text-align: center;
    }

}

@media only screen and (min-width: 850px) {

    .app-logo-mobile {
        display: none;
    }

    .actions button {
        width: 200px;
    }



}

.title {
    font-family: "Google Sans Display", Roboto, Arial, sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0
}

.description {
    color: #01875f;
}

.reviews {
    height: 64px;
    margin: 16px 0 24px -24px;
    padding: 12px 0;
}

.layout-flex {
    align-items: center;
    display: flex;
    overflow: auto;
    width: 100%;
}

.grid-container {
    align-items: center;
    display: flex;
}

.grid-item {
    padding: 0 16px;
    position: relative;
    min-width: 96px;
}

.grid-item:not(:first-child)::before {
    background-color: rgb(232, 234, 237);
    content: "";
    display: block;
    height: 24px;
    left: 0;
    position: absolute;
    top: calc(50% - 12px);
    width: 1px;
}

.g1rdde {
    color: rgb(95, 99, 104);
    fill: rgb(95, 99, 104);
    stop-color: rgb(95, 99, 104);
    font-family: Roboto, Arial, sans-serif;
    line-height: 1rem;
    font-size: .75rem;
    letter-spacing: .025em;
    font-weight: 400;
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    white-space: nowrap;
}

.ClM7O {
    text-align: center;
    font-size: 0.75rem;
}



.actions button {
    background-color: rgb(1, 135, 95);
    color: white;
    min-width: 300px;
    margin-right: 30px;
}

.actions a {
    color: rgb(1, 135, 95)
}

.summary {
    font-size: .875rem;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: .0142857143em;
    line-height: 1.25rem;
    color: rgb(95, 99, 104);
    fill: rgb(95, 99, 104);
    stop-color: rgb(95, 99, 104);
    display: flex;
    padding: 4px 0;
}

.app-section {
    position: relative;
    margin-top: 3rem;
}

.app-info {
    align-items: flex-start;
    display: flex;
}